<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guidanceapp.jey.com.guidanceapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity

            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <!--android:name=".MainActivity"-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                   <action android:name=".MainActivity"/>
                   <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

            </activity>



        <activity android:name=".WelcomePage"></activity>

        <activity android:name=".Feedback"></activity>

        <activity android:name=".CoursePage"></activity>

        <activity android:name=".CourseHome"></activity>


        <activity android:name=".Year1_Sem1"></activity>

        <activity android:name=".CarrierHome"></activity>

        <activity android:name=".Calculator"></activity>

        <activity android:name=".Faculty"></activity>

        <activity android:name=".InterestingField"></activity>

        <activity android:name=".CgpaHome"></activity>

        <activity android:name=".JobDescription"></activity>


        <activity android:name=".Repeat"></activity>


        <activity android:name=".courses.YearOne"></activity>

        <activity android:name=".FinalResult"></activity>






    </application>

</manifest>
